* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* NAV PANEL */
.navpanel {
  position: relative;
  margin: 0 80px;
  height: 4em;
}

.navpanel div {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

/* LOGO */
.logo {
  padding-right: 5px;
  height: 2em;
}

h4 {
  font-weight: 700;
  text-shadow: 2px 2px 2px rgb(230, 230, 230);
  font-size: 1.1em;
}

/* NAV LIST */
.nav {
  padding: 0.5em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: color 0.5s;
}

.nav:hover {
  color: rgb(59, 120, 201);
}

.underline {
  font-style: underline;
}

/* USER INPUT SECTION */
.user {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    27deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(17, 17, 128) 28%,
    rgb(79, 166, 184) 100%
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1em;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

p {
  color: white;
  padding-bottom: 10px;
}

.inputarea {
  align-items: flex-end;
  display: flex;
}
/* .inputarea {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
}
.textbox {
  border-radius: 2px;
  background-color: #f2f2f2;
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  margin-bottom: 20px;
} */
/* MODAL */
input {
  display: flex;
  margin-right: 10px;
  padding: 10px 6px;
  width: 90%;
  border-radius: 5px;
  border-bottom: 3px solid #ddd;
  color: #555;
}

input:invalid {
  border-color: red;
}

label {
  display: inline-block;
  margin: 25px 0 15px;
  font-size: 1em;
  font-weight: bold;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: opacity 0.3s ease;
}

.modal-container {
  width: 500px;
  margin: auto;
  padding: 30px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-body {
  margin: 20px 0;
  align-content: center;
}

.modal-enter-from {
  opacity: 0;
}

.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* MEDICATION CARDS */
h2 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 500;
}

.btn {
  padding: 0.7em 1.2em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  transition: color 0.25s;
  position: relative;
}

.btn:hover {
  color: rgb(59, 120, 201);
}

.card {
  border-radius: 5px;
  filter: drop-shadow(0 5px 10px 0 #000000);
  width: 90%;
  height: 180px;
  background-color: #eee;
  padding: 10px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
  margin: 20px;
  cursor: pointer;
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: rgb(233, 30, 99);
  height: 220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card:hover::before {
  transition-delay: 0.2s;
  transform: scale(50);
}

.card:hover {
  color: #ffffff;
}

.card p {
  padding: 10px 0;
}

.dose {
  color: gray;
  display: inline-block;
  font-size: 0.7em;
}

/* RESPONSIVE ELEMENTS */
@media screen and (max-width: 600px) {
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .card {
    width: 80%;
  }
  .gridin {
    width: 50%;
  }
}

/* 

a {
  font-weight: 500;
  color: #646cff;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

}
.card {
  padding: 2em;
  border-radius: 5px;
  background-color: green;
  width: 600px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
